# Python specific ignores
__pycache__/
*.pyc
*.pyd
*.egg-info/
.pytest_cache/

# Virtual Environments
venv/
env/
.venv/

# Data Files
tasks.json

# IDE and Editor Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.classpath
.settings/

# Operating System Specific Files
.DS_Store
Thumbs.db
*.log

# Temporary Backup or Swap Files
*~
*.bak
*.swp
